h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.container{
    width:100%;
    max-width: 1800px;
    margin: 0 auto;
    height: 100vh;
}
.container2{
    width: 100%;
    max-width: 1800px;
    height:430px;
}
.container_text{
    max-width: 1000px;
}
body{
    margin:0;
}
.intro{
    background:url(Images/Intro2.jpg);
    background-size: cover;
}
.title{
    font-family: "Montserrat", cursive;
    font-weight: bold;
    font-size: 70px;
    text-transform: uppercase;
    padding-top: 50px;
    padding-left:100px;
    color: #fff;
}
psevdo:after{
     content: '';
    display:block;
    width: 350px;
    height: 4px;
    left:90px;
    background-color: #fff;
    position: absolute;
    bottom: 530px;
    z-index: 1;
    margin-top: 19px;
    background-color:#fff06e;
}
inner_text{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    position: absolute;
    padding-left: 720px;
    padding-top: 10px;
    color: #fff;
}
psevdo_text:after{
    content: '';
    display:block;
    width: 90px;
    height: 4px;
    left:718px;
    background-color: #fff;
    position: absolute;    
    z-index: 1;
    padding-left: 570px;
    margin-top: 12px;
    background-color:#fff06e;
}
.Logo{
      
    width:100px;
    font-family: "Montserrat", cursive;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 35px;
    padding-left: 1000px;
    color:#fff06e;
    text-decoration: none;
    
}
.title_block{
    
    font-family: "Montserrat", cursive;
    font-weight: bold;
    font-size: 70px;
    text-transform: uppercase;
    padding-top: 50px;
    padding-left:400px;
    color: black;
}
.text_block{
    padding-left:20px;
    padding-top: 140px;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    font-size: 19px;
    font-weight: 600;
}
.info_block{
    background:url(Images/stroke_info.jpg);
    background-size: cover;
}
.text_psevdo:after{
    content: '';
    display:block;
    width: 90px;
    height: 4px;
    left:18px;
    background-color: #fff;
    position: absolute;    
    z-index: 1;
    padding-left: 600px;
    margin-top: 20px;
    background-color:#fff06e;
}
.dop_text{
    padding-top: 110px;
    padding-left: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    
}
.container2{
    background: url(Images/0070.jpg);
    background-size: cover;
}
.title1{
    font-family: "Montserrat", cursive;
    font-weight: bold;
    font-size: 50px;
    color:#fff06e;
    padding-left: 350px;
    padding-top: 30px;
    
}
.text1{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    padding-left: 120px;
    padding-top: 80px;
}
psevdo_section2:after{
    content: '';
    display:block;
    width: 90px;
    height: 4px;
    left: 116px;
    background-color: #fff;
    position: absolute;    
    z-index: 1;
    padding-left: 1220px;
    margin-top: 20px;
    background-color:#fff06e;
}
.intro3{
    background: url(Images/text3.jpg);
    background-size: cover;
}
.container3{
    width: 100%;
    max-width: 1800px;
    height:770px;
}
.title3{
    font-family: "Montserrat", cursive;
    font-weight: bold;
    color: #fff;
    font-size: 90px;
    padding-top: 80px;
    padding-left: 20px;
}
.text_block3{
    font-size: 22px;
    font-family: "Bebas Neue", sans-serif;
    color: #fff;
    padding-left: 600px;
    padding-top: 180px;
    font-weight: 600;
}
back{
    padding-bottom: 100px;
    font-size: 17px;
    flex-wrap: bold;
    color:#fff;
}
.container_end{
     width: 100%;
    max-width: 1800px;
    height:120px;
    background-color: black;
}

.dmitri{
    font-family: "Montserrat", cursive;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    padding-left: 900px;
    margin: 0;
    text-decoration: none;
}
end_iltzwi{
   
    font-family: "Montserrat", cursive;
    color:#fff;
    font-weight: bold;
    font-size: 25px;
    padding-left: 180px;
    
}
.padding_top{
    padding-top: 40px;
}
.button_back{
    color: #fff;
     font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 35px;
    padding-left: 800px;
    z-index: 1000;
    margin: 0 auto;
  
}


